
@import "bootstrap";
@font-face {
  font-family: 'komorebi';
  src: font-url('komorebi-gothic-P.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tamira';
  src: font-url('Tamira-PersonalUse.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
@import "pldates";
